
@import url('https://fonts.googleapis.com/css?family=Saira');
body{
    background: gainsboro;
}
h1{
    font-family: "Saira", sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    letter-spacing: 0px;
}
hr{
    height: 1px;
    color: black;
}
p:hover{
    border: slategrey;
}
div.paragraph1{
    font-family: "Saira", sans-serif;
    font-size: 15px;
    color: azure;
    letter-spacing: 1px;

}
a:link{
    color: white;
}
a:visited{
    color: white;
}
a:hover{
    color: midnightblue;
}
li{
    float: left;
}
a{
    display: block;
    padding:8px;
}
li a{
    font-family: "Encode Sans Condensed", sans-serif;
    display: block;
    text-align: center;
    color: #003653;
    padding: 8px 10px;
    text-decoration: none;
}
li a:hover{
    background-color: #003653;
    color: white;
}
.active {
    background-color: #003653;
    color: white;
}
ul{
    border: 1px solid white;
}
li {
       text-align: center;
    border-bottom: 1px solid gainsboro;
}
li:last-child{
    border-bottom: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 99%;
    background-color: dimgray;
    height: 34px;
    position: fixed;
    overflow: hidden;
}
